<div class="container">
  
  <!-- Page Heading -->
 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">  
      <div class="container">
    
      </div>  
    <button class="btn btn-secondary"  (click)="searchAgain()">Go back</button>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
        <h1 class="my-4">{{city.name}}: 
            <small>{{hotels?.length}} Hotel found</small>
       </h1>
    </div>    
 </header>

  <div class="row" *ngFor="let hotel of hotels">
    <div class="col-md-5">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="{{hotel.thumbnailPicture}}" alt="">
      </a>
    </div>
    <div class="col-md-5">
      <app-hotel-title  [hotel]="hotel"></app-hotel-title>
      <p>{{hotel.city.name}}</p>
      <p>{{hotel.address}}</p>
      <a class="btn btn-primary" href="/hotelDetail/{{hotel.id}}">Book</a>
    </div>
    <div class="col-md-2">     
        <p class="price">
            {{hotel.roomClasses[0].totalPrice}} <small class="avg">{{'AVG NIGHT' }}</small>
        </p>
    </div>
    <div>    
        <hr> -
    </div>
  
  </div>
 
</div>